tbody{
  
  text-align: center;
}


thead{
    text-align: center;
    }



td { 
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-break: keep-all;
  
}

@media only screen and (max-width: 480px) {
  /* horizontal scrollbar for tables if mobile screen */
  .tablemobile {
      overflow-x: auto;
      display: block;
  }
}